* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li a{
    
    color: #808080;
}
#logo img {
    max-width:200px;
    height:auto;
    margin-left: 20px;
}

#logo {
    cursor: pointer;
}

#main-nav{
    list-style: none;
    margin-left: 30px;
    z-index: 2;
    font-family: "Google Sans",Arial,Helvetica,sans-serif;
}

#main-nav li{
    display: inline-block;
    padding: 0 20px;;
}

#main-nav li a{
    text-decoration: none;
}

#header-image-menu img {
    max-width:50px;
    height:auto;
    border-radius: 50%;
}

#top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    width: auto;

}

#header-image-menu{
    display: inline-block;
    
}